.list-page {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #f3f5f7 !important;
  /* background: url("../../common/assets/icons/Header-bg.svg") no-repeat;
    background-size: 100%;
    left: 76px; */
}

.list-page-container {
  position: relative;
  top: -610px;
  left: 80px;
}
